* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: 100;
}

html {
    scroll-behavior: smooth;
}

div {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

a {
    text-decoration: none;
    display: block;
}

.page-wrapper {
    width: 850px;
    margin: 0 auto;
    border: 1px solid brown;
}

/* Navbar start */
.navbar {
    background-color: black;
}

.nav {
    display: flex;
    padding: 10px 5px;
}

ul li {
    display: flex;
    width: 25%;
}

ul li a {
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
}

ul li a:hover {
    background-color: lightgray;
    color: black;
}
/* Navbar end */

/* Home page start */
.home-page {
    height: 90vh;
    /* border: 1px solid red; */
    background: url("./img/coffeehouse.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hm-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home-text {
    color: white;
    font-size: 50px;
    line-height: 1.5;
    text-align: center;
}

.home-btm-text {
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: white;
    font-size: 13px;
    word-spacing: 3px;
}

.home-btm-text p:first-child {
    background-color: black;
    display: inline-block;
    margin-left: 20px;
    padding: 7px 10px;
}

.home-btm-text p:last-child {
    float: right;
    margin-right: 20px;
    padding: 7px 10px;
}
/* Home page end */

/* About start */
.about-page {
    border: 1px solid green;
}

.abt-wrap {
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 1.5;
}

.abt-heading {
    text-align: center;
    margin-bottom: 50px;
}

.abt-heading h2 {
    color: white;
    background-color: black;
    display: inline-block;
    letter-spacing: 4px;
    font-size: 18px;
    padding: 5px 8px;
}

.abt-img img {
    width: 100%;
    height: 100%;
}
/* About end */